@{
    ViewData["Title"] = "Product List";
}

<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<!-- Custom CSS -->
<link rel="stylesheet" href="/css/products.css">

<h2 style="margin: 30px;">Product List</h2>
<div class="filters-wrapper">
    <div class="filter-container">
        <button class="filter-button" id="filterBtn">
            <span>Sort By</span>
        </button>
        <div class="filter-dropdown" id="filterDropdown">
            <div class="filter-option" data-sort="popularityDesc">Popularity </div>
            <div class="filter-option" data-sort="priceAsc">Ascending Price</div>
            <div class="filter-option" data-sort="priceDesc">Descending Price</div>
        </div>
    </div>
</div>


<!-- Swiper Carousel -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!-- Product cards will be dynamically added here by JS -->
    </div>

    <!-- Carousel arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

 <div class="swiper-scrollbar"></div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- Custom JS -->
<script src="/js/products.js"></script>
